<doctype html>
<title>Farm User - Python Flask MySQL CRUD</title>
<h2>Farm User</h2>
<form method="post" action="/farm">
    <dl>
		<p>
			<input name="Nitrogen" value="" type="text" placeholder="Soil pH" autocomplete="off" required>
		</p>
		<p>
			<input name="Phosphorous" value="" type="text" placeholder="Rainfall" autocomplete="off" required>
		</p>
		<p>
			<input name="Potassium" value="" type="text" placeholder="Temperature" autocomplete="off" required>
		</p>
		<p>
			<input name="Month" value="" type="text" placeholder="Month" autocomplete="off" required>
		</p>
		<p>
			<input name="Location" value="" type="text" placeholder="Location" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
